* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

:root {
    --background-color: darkblue;
    --sec-background-color: white;
    --text-color: #333;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
    --height-align: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
}

main {
    max-width: 840px;
    grid-column: 2;
    margin: var(--padding);
}

aside {
    width: 25rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--sec-background-color);
    padding: var(--padding);
    border: 1px solid rgba(0, 0, 0, .1);
}

main img {
    width: 150px;
    height: var(--height-align);
    float: right;
    margin: 0 0 1rem 1rem;
    padding: var(--padding);
    position: relative;
}

p {
    padding: 0;
    margin: 1rem;
    width: 24em;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--sec-background-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--background-color);
    top: 50px;
    border-bottom: 1px solid rgb(0 0 0 / 0.3);
    padding-bottom: var(--padding);
}

h2 {
    display: relative;
    font-size: 1.5em;
    font-weight: bold;
}

img {
    width: 150px;
    height: var(--height-align);
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 100%;
    height: var(--height-align);
    display: block;
    margin: 0 auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 50%;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}