:root {
    --background-color: darkblue;
    --sec-background-color: white;
    --text-color: #333;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
    --height-align: auto;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: var(--height-align);
}

p {
    padding: 0;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--sec-background-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: var(--height-align);
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    /* 1 */
    padding: var(--padding);
    background-color: var(--sec-background-color);
    color: var(--text-color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height-align);
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}