* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --background-color: darkblue;
    --sec-background-color: white;
    --text-color: #333;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-align: center;
    --height-align: auto;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: var(--height-align);
    float: right;
    margin: 0 0 1rem 1rem;
    position: absolute;
    left: 400px;
    top: 230px;
}

p {
    padding: 0;
    margin: 1rem;
    width: 24em;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--sec-background-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--background-color);
    top: 50px;
}

img {
    width: 150px;
    height: var(--height-align);
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1rem;
    border: var(--border);
    /* 1 */
    padding: var(--padding);
    background-color: var(--sec-background-color);
    color: var(--text-color);
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height-align);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}